
@import "../common";

@thick: 8px;

@scrollbar-color: rgba(62, 81, 90, 0.8); //#3E515A; //#2A373E;
@scrollbar-color-highlight: rgba(62, 81, 90, 0.5); // #3E515A; //#2A373E;
@scrollbar-color-active: rgba(53,70,77,0.5); //#455A64;

::-webkit-scrollbar {

	border: none;

	&:vertical {
		width: @thick;
	}

	&:horizontal {
		height: @thick;
	}
}

::-webkit-scrollbar-corner {
	display: none;
}

::-webkit-scrollbar-thumb {

	border-radius: @thick;

	&:vertical {
		border-right: @thick solid @scrollbar-color;
	}

	&:horizontal {
		border-bottom: @thick solid @scrollbar-color;
	}

	&:hover {
		border-color: @scrollbar-color-highlight;
	}

	&:active {
		border-color: @scrollbar-color-active;
	}
}

/*
::-webkit-scrollbar-track {
	//box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
*/

/*
::-webkit-scrollbar-track-piece {
::-webkit-scrollbar-button {}
::-webkit-scrollbar-corner
*/
